@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fdfbf7;
  font-family: 'Galmuri9', monospace;
}

/* 등장 애니메이션 */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}

/* 도장 애니메이션 */
@keyframes stamp {
  0% {
    opacity: 0;
    transform: scale(3) rotate(-10deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-10deg);
  }
}

.animate-stamp {
  animation: stamp 0.3s cubic-bezier(0.5, 0, 0.75, 0) forwards;
}

/* 영수증 출력 애니메이션 */
@keyframes printer {
  0% {
    transform: translateY(-120%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-printer {
  animation: printer 6s steps(30, end) forwards;
}
